.btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px 25px;
  border-radius: 10px;
  box-shadow: 4px 4px 24px rgba(0, 0, 0, 0.15);
  border: none;
  font-size: 18px;
  line-height: 140%;
  font-weight: 600;
  &:hover {
    cursor: url("../img/icones/Cursor/Pointer.svg"), auto;
  }
}
.btn-lg {
  width: 182px;
  height: 55px;
}
.btn-primary {
  background: var(--purple);
  color: var(--white);
  align-self: baseline;
  &:hover {
    background: var(--gradient);
  }
  &:focus {
    box-shadow: 4px 4px 24px rgba(0, 0, 0, 0.15), inset 0 4px 4px rgba(0, 0, 0, 0.25);
  }
}
.btn-secondary {
  background: var(--white);
  &:hover {
    background: var(--light-pink);
  }
  &:focus {
    box-shadow: 4px 4px 24px rgba(0, 0, 0, 0.15), inset 0 4px 4px rgba(0, 0, 0, 0.25);
  }
}